<!DOCTYPE html>
<html ng-app="tilelist">
<head>
	<title>List of Tiles</title>
	<meta charset="utf-8">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="panel" ng-controller="tilesController">
		<div class="filtering">
			Filter by title: <input ng-model="titleInput">
			<button ng-click="filterTitle.title = titleInput">Filter</button>
			<span class="orderby-le">
				Order by Life Expectancy: <input type="checkbox" ng-model="order_by_field" ng-true-value="'-lifeExpectancy'">
			</span>
		</div>
		<ul class="media-list">
			<li class="well tile" ng-repeat="animal in animalTiles | orderBy: order_by_field | filter: filterTitle : strict">
      	Hide {{animal.title}}: <input type="checkbox" ng-model="animal.hide">
      	<div ng-hide="animal.hide">
			    <div class="media-left">
			        <img class="media-object" ng-src={{animal.imgSrc}}>
			    </div>
			    <div class="media-body" >
			      <h4 class="media-heading">{{animal.title}}</h4>
			      <h6>Life Expectancy: {{animal.lifeExpectancy}}</h6>
			      <a ng-href={{animal.wikiUrl}}>Wiki</a>
			    </div>
			  </div>
		  </li>
		</ul>
	</div>

	<script type="text/javascript" src="scripts/angular.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controllers.js"></script>
</body>
</html>
